{% extends 'app/index.html' %}
{% load static %}
{% load i18n %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/card.css' %}">
<link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock links %}

{% block navbar %}
    {% include 'app/partials/navbar.html' %}
{% endblock %}

{% block content %}
<div class="body-container">
    <div class="wrapper">
        <div class="home-header">
            <p>Для тех, кто хочет жить... Geek Brains Skillbox Skillfactory</p>
            <p>Think about it!</p>
        </div>
        <div class="box">
            {% include 'app/partials/search.html' with categories=categories%}
        </div>
        <div class="content">
            {% for card in cards %}
                <div>
                    {% include 'app/partials/card.html' with object=card %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}