{% extends 'app/index.html' %}
{% load static %}
{% load i18n %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/card.css' %}">
<link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock links %}

{% block navbar %}
    {% include 'app/partials/navbar.html' %}
{% endblock %}

{% block content %}
<div class="body-container">
    <div class="wrapper">
        <p>{{object.title}}</p>
        <p>{{object.little_description}}</p>
        <p>{{object.main_description}}</p>
        <p>{{object.likes}}</p>
        {% for elem in applications %}
        <p>{{ elem.username }}</p>
        {% endfor %}
        {% for elem in skills %}
        <p>{{ elem.name }}</p>
        {% endfor %}
    </div>
</div>
{% endblock %}